body{
  background-color: #204ea4;
  text-align: center;
  display: grid;
  place-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar{
  display: none;
}


.App{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.button{
  width: 100px;
  height: 30px; 
  border: none;
  box-shadow: none;
  padding: 4px;
  transition: all 0.2s ease-in-out;
}

.button:hover{
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

.completed{
  background-color: rgb(78, 255, 78);
  border-radius: 100px;
  width: 50px;
  height: 40px;
}

.recicle{
  background-color: rgb(255, 54, 54);
  border-radius: 100px;
  width: 50px; 
  height: 40px;
}

.inputTask{
  margin: 0 5px; 
  border: none; 
  border-radius: 20px; 
  text-align: center; 
  color: black;
  background-color: white;
}

.divTasks{
  grid-template-columns: 1fr;
}

.taskTitle{
  width: 250px;
}

.taskDate{
  text-align: center;
  margin: 0 auto;
  width: 250px;
  height: 40px;
  color: black;
  background-color: none;
}

.buttonTask{
  width: 250px;
  height: 50px;
}

.content{
  flex-direction: column;
  justify-content: center;
}

@media(min-width: 768px){
  .divTasks{
    grid-template-columns: 1fr 1fr;
  }

  .content{
    flex-direction: row;
  }

  .taskTitle{
    width: 150px;
  }

  .buttonTask{
    width: 40px;
  }
  
  
  .taskTitle{
    width: 180px;
  }

  .taskDate{
    width: 130px;
    height: 40px;
  }

  .buttonTask{
    width: 40px;
    height: 40px;
  }
  
}
